# Data Science Tools and Ecosystem

## Author
Liam St-Onge-Amoretti

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages used within data Science
- List common libraries used in data science
- Create different lists and tables using markdowns in jupyter
- create simple code blocks with simple expressions

Some of the popular languages that Data Scientists use are:
1. Python
1. R
1. SQL
1. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Dask
4. Plotly
5. Scikit-learn

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|VS Code|
|Spyder|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335